:root {
  --da-bg-color: #f5f0ec;
  --da-font-secondary: #626262;
}

body {
  font-family: 'Poppins', sans-serif;
  cursor: none;
  background-color: var(--da-bg-color);
}

section {
  padding: 100px 0;
}
