.header {
  color: #464646;
  display: flex;
  font-family: 'Syncopate', sans-serif;
  font-size: 24px;
  font-weight: 700;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: 50px 0;
  text-transform: uppercase;
}
